<%= form_for(@category_product) do |f| %>
  <% if @category_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_product.errors.count, "error") %> prohibited this category_product from being saved:</h2>

      <ul>
      <% @category_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
