<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">
	<!--<div id="all_categories">
			<button onclick="paintIt(this, '#990000')"><%= t('.all_categories') %></button>
	</div>-->
	<div id="banner">
		<%= form_tag store_path, class: 'locale' do %>
		  <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
		  <%= submit_tag 'submit' %>
		  <%= javascript_tag "$('.locale input').hide()" %>
		<% end %>
		<%= image_tag("logo.png") %> 
		<%= @page_title || t('.title') %>
	</div>
	<div id="columns">
		<div id ="side">
			<div id="sidelogin">
				<%if session[:client_id] %>
				<font color="white">Hello </font><a href="<%= clientadmin_path %>"><font color="white"><%= Client.find_by_id(session[:client_id]).name %> !</font></a></br></br>
				<% else %>
				<font color="white">Please: </font><%= button_to "Login",clientlogin_path,method: :get%></br></br>
				<% end %>
			</div>
			<div>
			<%= form_tag :controller => 'store', :action => 'index' do %>
			<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
			</p>
			<% end %>
			</div>
			<div id="cart">
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?,id:'cart') do %>
				   <%= render @cart %>
				<% end %>
		    <% end %>
			</div>		
			<ul>
				<li><a href="<%= store_path %>"><%= t('.home') %></a></li>
				<li><a href=""><%= t('.questions') %></a></li>
				<li><a href=""><%= t('.news') %></a></li>
				<li><a href=""><%= t('.contact') %></a></li>
            </ul>

            <% if session[:user_id] %>
                <ul>
                    <li><%= link_to 'Orders', orders_path %></li>
                    <li><%= link_to 'Products', products_path %></li>
                    <li><%= link_to 'Users', users_path %></li>
                    <li><%= link_to 'Categories', categories_path %>
                    <li><%= link_to 'Category_products', category_products_path %>
					<li><%= link_to 'Clients', clients_path %></li>
                </ul>

                <%= button_to 'Logout', logout_path, method: :delete %>
            <% end %>
            <% if !session[:user_id] %>
            	<div id="list_categories">
		    		<%= render 'categories/list'%>
		    	</div>
		    <% end %>
		</div>
		<div id="main">
		<%= yield %>
	    </div>
	</div>
</body>
</html>

